Repository GoogleCloudPlatform/dfcx-scrapi, pull requests merged in 2022-04, with the labels that each got.

#52 Conversation Class Enhancements and Bug Fixes
  src/dfcx_scrapi/core/conversation.py
  src/dfcx_scrapi/core/scrapi_base.py
Labels: dataframes

#42 added get_by_display_name, cleaned up other stuff
  src/dfcx_scrapi/core/flows.py
Labels: Flows

#53 add inherited auth for GSheets
  src/dfcx_scrapi/tools/dataframe_functions.py
Labels: Google Sheets

#54 fixed regionalization for get_lro
  src/dfcx_scrapi/core/operations.py
Labels: Operations
