Repository GoogleCloudPlatform/dfcx-scrapi, pull requests merged in 2022-09, with the labels that each got.

#76 entity to dataframe fix
  src/dfcx_scrapi/core/entity_types.py
Labels: Entity Types, dataframes

#75 Adding methods for extracting test coverage
  src/agent_assist/agent_assist.py
Labels: Agent Assist, Test Cases

#74 Feature/intent builder
  src/dfcx_scrapi/builders/intent.py
  src/dfcx_scrapi/builders/intents.py
Labels: enhancement, Intents

#83 81 fr static analysis class and notebooks
  examples/nlu_analysis_series/intent_levenshtein_demo.ipynb
  examples/nlu_analysis_series/nlu_semantic_similarity_demo.ipynb
  src/dfcx_scrapi/tools/nlu_util.py
Labels: NLU, Notebooks

#86 Feature/notebook examples
  examples/google_sheets_series/custom_entities_to_sheets.ipynb
  examples/scrapi_prebuilt.ipynb
  src/builders_101.ipynb
  src/dfcx_scrapi/core/agents.py
  src/dfcx_scrapi/tools/levenshtein.py
Labels: Agents, Entity Types, Intents, Notebooks, Builders
